@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Ubuntu:wght@700&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg1.jpg");
    background-position: center center;
    /* background-size: max(1200px,100vw); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.4;
    background-color: black;
    position: absolute;
    top: 0;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: auto;
    height: 62px;
    
}
nav img{
    width: 140px;
    position: relative;
    z-index: 5;
}
nav button{
    width: 120px;
    position: relative;
    z-index: 5;
}

.hero{
    color: white;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    gap: 20px;
    padding: 25px;
    text-align: center;
}
.hero> :first-child{
    font-family: 'Londrina Solid', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    
}
.hero >:nth-child(2) ,.hero>:nth-child(3){
    font-size: 23px;
}
.seperation{
    height: 7px;
    opacity: 0.6;
    background-color: rgb(75, 74, 74);
}
.btn{
    padding: 5px 7px;
    font-weight:188;
    font-size: 19px;
    border-radius: 4px;
    background-color: black;
    color: white;
    border:0.12px solid rgb(137, 126, 126);
}
.btn-sm{
    padding: 5px 5px;
    font-weight:188;
    font-size: 19px;
    border-radius: 7px;
    background-color:red;
    color: white;
}
.btn-red{
    padding: 13px 33px;
    background-color:red;
    font-weight:900;
    font-size: 26px;
    border-radius: 7px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inputbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    cursor: pointer;
}
.email{
    padding: 19px 153px 19px 25px;
    justify-content: left;
    font-size: 15px;
    border-radius: 3px;
    color: white;
    border: 0.2px solid white; 
    background-color: black;
    opacity: 0.6
}
.topbtn{
    display: flex;
    gap: 13px;
    cursor: pointer;
}
.firstsec{
    max-width: 70vw;
    display: flex;
    margin: auto;
    align-items: center;
    color:white;
    justify-content: center;
    padding: 30px;
}
.fsimg{
    position: relative;    
}
.fsimg img{
    position: relative;
    width: 500px;
    z-index: 7;
}
.fsimg video{
    position: absolute;
    /* height: 180px; */
    width: 450px;
    top: 60px;
    /* left: 10px; */
    right: 5px;
}
.fstext :first-child{
    font-size:50px;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.ontimg{
    position: relative;    
}
.ontimg img{
    position: relative;
    width: 400px;
    z-index: 7;
}
.ontimg video{
    position: absolute;
    height: 150px;
    left: 65px;
    width: 250px;
    top: 30px;
    right: 0px;
}
.onttext :first-child{
    font-size:50px;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.faqs {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    color: white;
   
}
.faqs h2{
 text-align: center;
 margin-top: 50px;
 color: white;
 font-weight: 700;
 font-size: 50px;
}
.faqbox{
    color: white;
    background-color: gray;
    opacity: 0.4;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 20px;
}

.faqbox:hover{
   opacity: 0.9;
   transition: all 1s  ease-out;
}
.faqboxlist{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: auto;
    row-gap:15px;
}

footer{
    color: white;
    max-width: 60vw;
    padding: 35px;
    margin: auto;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}
.footer a{
    color: white;
}
.footer-ques{
   padding: 25px 0px;
}
.footer-item ul{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

@media only screen and (max-width: 1000px) {
  
    .firstsec{
        max-width: 70vw;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        align-items: center;
        color:white;
        justify-content: center;
        padding: 30px;
    }

    .hero{
        color: white;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 5;
        gap: 10px;
        padding: 25px;
        text-align: center;
    }
    .hero> :first-child{
        font-family: 'Londrina Solid', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bolder;
        font-size: 25px;
        
    }
    .hero >:nth-child(2) ,.hero>:nth-child(3){
        font-size: 10px;
    }
    .btn-red{
        padding: 5px 10px;
        background-color:red;
        font-weight:600;
        font-size: 10px;
        border-radius: 3px;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .inputbtn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        cursor: pointer;
        
    }
    .email{
        padding: 13px 15px;
        justify-content: left;
        font-size: 9px;
        border-radius: 2.6px;
        color: white;
        border: 0.2px solid white; 
        background-color: black;
        opacity: 0.6;
        width: 167px;

    }

    .btn{
        padding: 5px 7px;
        font-weight:48;
        font-size: 10px;
        border-radius: 4px;
        background-color: black;
        color: white;
        border:0.12px solid rgb(137, 126, 126);
        width: 50px;
    }
    .btn-sm{
        padding: 5px 5px;
        font-weight:48;
        font-size: 10px;
        border-radius: 5px;
        background-color:red;
        color: white;
        width: 50px;
    }
    .topbtn{
        display: flex;
        gap: 5px;
        cursor: pointer;
    }

    .main{
        background-image: url("assets/images/bg1.jpg");
        background-position: center center;
        /* background-size: max(1200px,100vw); */
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        position: relative;
    }
    .main .box{
        height: 50vh;
        width: 100%;
        opacity: 0.4;
        background-color: black;
        position: absolute;
        top: 0;
    
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70vw;
        margin: auto;
        height: 32px;
        
    }
    nav img{
        width: 60px;
        position: relative;
        z-index: 5;
    }
    
    .firstsec{
        max-width: 70vw;
        display: flex;
        margin: auto;
        align-items: center;
        color:white;
        justify-content: center;
        padding: 30px;
    }
    .fsimg{
        position: relative;    
    }
    .fsimg img{
        position: relative;
        width: 300px;
        z-index: 7;
    }
    .fsimg video{
        position: absolute;
        /* height: 180px; */
        width: 250px;
        top: 30px;
        /* left: 10px; */
        right: 2px;
    }
    .fstext :first-child{
        font-size:25px;
        font-weight:bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    
    .ontimg{
        position: relative;    
    }
    .ontimg img{
        position: relative;
        width: 200px;
        z-index: 7;
    }
    .ontimg video{
        position: absolute;
        height: 75px;
        left: 35px;
        width: 120px;
        top: 15px;
        right: 0px;
    }
    .onttext :first-child{
        font-size:25px;
        font-weight:bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    .faqs {
        display: flex;
        flex-direction: column;
        row-gap: 13px;
        color: white;
       
    }
    .faqs h2{
     text-align: center;
     margin-top: 25px;
     color: white;
     font-weight: 400;
     font-size: 25px;
    }
    .faqbox{
        color: white;
        background-color: gray;
        opacity: 0.4;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        font-size: 10px;
    }
    
    .faqbox:hover{
       opacity: 0.9;
       transition: all 1s  ease-out;
    }
    .faqboxlist{
        display: flex;
        flex-direction: column;
        width: 55vw;
        margin: auto;
        row-gap:7px;
    }
    
    footer{
        color: white;
        max-width: 50vw;
        padding: 8px;
        margin: auto;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }
    .footer a{
        color: white;
    }
    .footer-ques{
       padding: 6px 0px;
    }
    .footer-item ul{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    

  }




 
